{% extends 'medicblog/base.html' %}

{% block content %}

<div class="row my-4 p-4 justify-content-center">
    <div class="col-md-4 my-2">
       
        <div class="card">
            <div class="card-header">
                <h4> Learning Management System (LMS) Application for Medicine </h4>

            </div>
            <div class="card-body">
                <p> Check the LMS Application by clicking the link below </p>
                <a href="{% url 'lmsapp:home' %}" class="btn btn-primary btn-sm"> Go to LMS App</a>

            </div>
            <div class="card-footer">

            </div>

        </div>
    </div>
    <div class="col-md-4 my-2">
        <div class="card">
            <div class="card-header">
                <h4>Application Programming Interface(API) for Medical Doctors  </h4> 
                
            </div>
            <div class="card-body">
                <p> Check the DoctorAPI App by clicking the link below </p>
                <a href="{% url 'doctorapi:doctor-list' %}" class="btn btn-secondary btn-sm"> Go to Doctors API</a>

            </div>
            <div class="card-footer">

            </div>

        </div>
    </div>
    <div class="col-md-4 my-2">
        <div class="card">
            <div class="card-header">
                <h4>A Medic Blog App for Medical Doctors  </h4> 

            </div>
            <div class="card-body">
                <p> Check the MedicBlog Application by clicking the link below </p>
                <a href="{% url 'medicblog:home' %}" class="btn btn-primary btn-sm"> Go to Medic Blog</a>

            </div>
            <div class="card-footer">

            </div>

        </div>
    </div>
    <div class="col-md-4 my-2">
        <div class="card">
            <div class="card-header">
                <h6> Application 2 </h6>

            </div>
            <div class="card-body">
                The Body 
            </div>
            <div class="card-footer">

            </div>

        </div>
    </div>
    <div class="col-md-4 my-2"> 
        <div class="card">
            <div class="card-header">
                <h6> Application 2 </h6>

            </div>
            <div class="card-body">
                The Body 
            </div>
            <div class="card-footer">

            </div>

        </div>
    </div>
    <div class="col-md-4 my-2">
        <div class="card">
            <div class="card-header">
                <h6> Application 2 </h6>

            </div>
            <div class="card-body">
                The Body 
            </div>
            <div class="card-footer">

            </div>

        </div>
    </div>
</div>



{% endblock  %}