{% extends 'blogapp/base.html' %}
<!-- Loading Custom Tags -->


<!--Custom tag filters-->
{% load custom_blogapp_filters %}


{% block title %}

    All posts 
{% endblock %}


{% block content %}

    {% if posts %}
       
            {% for post in posts %}
                <h2 class="text-jumbotron"> 
                    <a style="color:#000;font-weight:bold;" href="{{post.get_absolute_url}}"> {{post.title}} </a>
                </h2>
                
                <p class="date">
                    <strong> Published {{post.publish}} |  by {{post.author }} </strong>
                </p>
                <p>
                    {{ post.body|truncatewords:30|linebreaks}}
                </p>
                <a class="btn btn-transparent btn-sm" style="width:fit-content;padding:10px;border-radius:10px;border-color:#000;" href="{{post.get_absolute_url}}"> Continue reading <i class="fa fa-angle-double-right"></i></a>
                <p class="tags">
                <!-- {{post.tags.all|join:","}} -->


                   {% for tag in post.tags.all %}
                   <a href="{% url 'blogapp:related_posts' tag.id %}">{{ tag.name }}</a>
                   {% if not forloop.last %}, {% endif %}
                 {% endfor %}
                   
                    

                    <hr/>
                
                </p>
               
            {% endfor %}
          

    {% else %}
    <h3>Ooops!!!, no posts available </h3> 


    
    {% endif %}
    {% include "blogapp/pagination.html" with page=posts %}


{% endblock %}