*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.main
{
    background:#333;
    color:#fff;
}
.container
{
background:#333;
color:#fff;
}
/** Custom Codes for CSS **/
.centered-image
{
    display:block;
    margin:0 auto;
    text-align:center;
    max-width:60%;
    max-height:50vh;
    
}
.carousel
{
    margin-top:20px;
}
.row
{
    margin-top:20px;
}