{% extends 'medicblog/base.html' %}

{% block content %}



<a href="{% url 'medicblog:create' %}">Create Blog Post here? </a> 
    {% for post in object_list  %}
    <div class="post_list">
        <h2>
            <a href="{% url 'medicblog:detail' post.pk %}">{{post.title}} </a> 
            
        </h2>
        <p> 
            {{ post.body|truncatewords:10 }}
        </p>

    </div>
   
    {% endfor %}
    <div class="pagination">
        <!--  Here we have our class based pagination -->
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}"> Previous </a>
        {% endif %}
        
        <span class="current-page"> {{ page.number }}</span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}"> Next </a>

        {% endif %}
       </div>
        
        

{% endblock content %}
