*{
 padding:0;
 margin:0;
 font-weight:bold;
 

}
body{
    min-height:100vh;
    





 
}
.main{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  
    gap:2;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4CAF50, #ffffff); /* Gradient background */
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Do not repeat the background */
   
    
}
a{
    text-decoration:none;
}
h2 a{
    text-decoration:none;
}



.content{
    flex-basis:60%;
    display:flex;
    flex-direction:column;
    min-height:90vh;
    padding:10px;
}
.sidebar{
    
    height:min-content;
    flex-basis:20%;
    
    display:flex;
    flex-direction:column;
    padding:10px;
    background:#333;
    color:#fff;
    min-height:auto;
}

.text-danger {
    color: #dc3545; /* Red color */
}































